<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Панель администратора</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles/styleAdmin.css">
    <script src="https://unpkg.com/html5-qrcode" type="text/javascript"></script>
    <script src="scripts/scriptAdmin.js"></script>
</head>
<body>
	<div class="header">
        <img src="emblema.png" alt="Логотип"> <!-- Замените src своей картинкой -->
        <div class="header-buttons">
	        <button class="btn btn-primary" onclick="window.location.href='/admin'">Админ</button>
	        <button class="btn btn-secondary" onclick="window.location.href='/'">Куратор</button>
	    </div>
    </div>
    
    <div class="container-fluid mt-4">
        <div class="row">
            <!-- Sidebar -->
            <div class="col-2 bg-light p-3 shadow-sm" id="admin-menu">
                <button class="btn btn-outline-primary w-100 mb-3" id="btn-computers">Аудитории</button>
                <button id="btn-distribute" class="btn btn-outline-primary w-100 mb-3">Распределение</button>
            </div>

            <!-- Active Area -->
            <div class="col-10" id="active-area">
                <!-- Default active content (Компьютеры) -->
                <div id="computers-content" class="active-content">
                    <!-- Пока оставлено пустым -->
                </div>
            </div>
        </div>
    </div>
    
    <div id="loading-overlay" class="loading-overlay" style="display: none;">
	    <div class="spinner"></div>
	</div>
    
</body>
</html>
